@font-face {
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../static/fonts/josefinsans/JosefinSans-Regular.ttf) format("ttf");
}

@font-face {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../static/fonts/josefinsans/JosefinSans-Bold.ttf) format("ttf");
}
