{{! https://megatags.co/ ; meta "name" changed to "property" }}
{{! COMMON TAGS }}
<meta charset="utf-8">
<title>Todo App</title>
{{! Open Graph general (Facebook, Pinterest & Google+) }}
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">